<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @owner.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @owner.lastname %>
</p>


<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
