
<div class="row">
  <div class="col-sm-12 text-xs-center bootstrap-welcome">




  <% if user_signed_in?  %>
 
      <%= form_tag("/home", method: "post") do %>
        <%= label_tag(:long_link, "Search for:") %>
        <%= text_field_tag(:long_link) %>
        <%= submit_tag("Search") %>
      <% end %>


  <h2>LINK:  <%= @link %></h2>


    <p><%= link_to 'generate', home_path(current_user) %></p>




  <% else %>
    <%= link_to "Sign in", new_user_session_path %><br />


  <% end %>



  </div>
</div>
